:root {
--crust:      #11111b;
--mantle:     #181825;
--base:       #1e1e2e;
--surface0:   #313244;
--surface1:   #45475a;
--surface2:   #585b70;
--overlay0:   #6c7086;
--overlay1:   #7f849c;
--overlay2:   #9399b2;
--subtext:    #a6adc8;
--text:       #cdd6f4;
--vividtext:  #ffffff;
--lavender:   #b4befe;
--blue:       #89b4fa;
--sapphire:   #74c7ec;
--sky:        #89dceb;
--teal:       #94e2d5;
--green:      #a6e3a1;
--yellow:     #f9e2af;
--peach:      #fab387;
--maroon:     #eba0ac;
--red:        #f38ba8;
--mauve:      #cba6f7;
--pink:       #f5c2e7;
--flamingo:   #f2cdcd;
--rosewater:  #f5e0dc;

--size-normal:1em;
--size-small: 0.8em;
--size-large: 1.2em;
--size-mini:  0.75em;
}

@font-face {
  font-family: "maple";
  src: url("../public/ttf-maple/MapleMono-SC-NF-Italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "maple";
  src: url("../public/ttf-maple/MapleMono-SC-NF-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "maple";
  src: url("../public/ttf-maple/MapleMono-SC-NF-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "maple";
  src: url("../public/ttf-maple/MapleMono-SC-NF-Regular.ttf") format("truetype");
}



body {
  margin: 0;
  background: var(--crust);
  color: var(--text);
  font-family: 'Noto Sans';
  font-size: 14px;
}

input, button {
  background: none;
  color: var(--text);
  font-family: 'maple';
  border: none;
}

p{
  margin: 0;
}
